a.anchor#about
.grid.p-2.grid-cols-6.sm_grid-cols-6.md_grid-cols-8.lg_grid-cols-10.xl_grid-cols-10.bg-blue-500.text-white
  .col-span-6.col-start-1.sm_col-start-1.md_col-start-2.lg_col-start-3.xl_col-start-3.grid.grid-cols-1.md_grid-cols-1.lg_grid-cols-1.py-5.items-center.text-center.gap-4
    h1.text-4xl What is SLPonyCon?
  .col-span-6.col-start-1.sm_col-start-1.md_col-start-2.lg_col-start-3.xl_col-start-3.grid.grid-cols-1.md_grid-cols-1.lg_grid-cols-3.py-5.items-center.text-justify.gap-4.justify-center
    div#mascotImage.flex.items-center.justify-center
      img(src="https://res.cloudinary.com/stormdragon-designs/image/upload/s--_GclRNJ_--/c_fill,g_north,h_353,w_353/v1590704415/slponycon/Sapphire_Blue_SL_PONYCON_MASCOT.png", alt="SLPonyConAu Mascot").object-cover.rounded-full.h-64.w-64
    div.col-span-2#text
      p SLPonyCon was created by an alliance of communities and creators in the SecondLife(TM) virtual world platform, which have their roots in the MLP:FiM fandom.
      br
      p Rather than simply being fans of the show, the SL Pony community is a group of fans and enthusiasts who have created a set of virtual spaces where a world inspired by Equestria can continue to exist and evolve as a real and living place. For years, we've existed in a bright and colorful world where the MLP universe is real - And we want you to be part of it. SLPonyCon is our open invitation for you to come see what we're about, explore how you can develop your own SL pony persona and meet new friends. Have you ever wished you could exist in the MLP:FiM universe, even if just for a little while? Instead of just watching the story unfold, come and live it! 
      br
      p Travel from town to town, seeing unique takes on a Pony-built and inhabited world. Every region is different, with their own traditions and cultures! Shop local creators and artisans, meet new friends, even find your own pony home! Come explore, and become the unique pony you've always dreamed you could be!