extends layout

block content
  include navinothome
  .grid.p-2.grid-cols-6.sm_grid-cols-6.md_grid-cols-8.lg_grid-cols-10.xl_grid-cols-12.mt-3
    .col-span-6.col-start-1.sm_col-start-1.md_col-start-2.lg_col-start-3.xl_col-start-4
      .mb-4
        a(href="javascript:history.back()").bg-blue-500.rounded.py-2.px-4.text-white <- Go Back
      h1.text-3xl.text-center= article.header
      hr.mb-4.mt-3.border-blue-700.border-2
      .article
        .float-left.mr-3(class="w-1/3").text-center
          img(src=article.image.src, alt=article.image.alt)
          caption
            span.italic= article.image.alt
        span!= md.render(article.content.replace(/\n/gi, "<br>"))
      p.italic.mt-4= `Posted ${new Date(article.published).toUTCString()} by ${article.poster}`