a.anchor#artists
.grid.p-2.grid-cols-6.sm_grid-cols-6.md_grid-cols-8.lg_grid-cols-10.xl_grid-cols-10
  .col-span-6.col-start-1.sm_col-start-1.md_col-start-2.lg_col-start-3.xl_col-start-3.grid.grid-cols-1.md_grid-cols-2.lg_grid-cols-3.pt-5.items-center.text-center.gap-4.items-stretch
    h1.col-span-3.text-4xl Artists
  .col-span-6.col-start-1.sm_col-start-1.md_col-start-2.lg_col-start-3.xl_col-start-3.flex.flex-wrap.justify-center.text-center
    - content.artists.sort(function(a, b) {var textA = a.name.toUpperCase();var textB = b.name.toUpperCase();return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
    for artist in content.artists
      .col-span-1.text-black.flex.flex-col.p-1(class="w-full md_w-1/2 lg_w-1/3")
        div.bg-blue-500.rounded.p-4.h-full.flex.flex-col.justify-between.text-white
          div
            img(src=artist.img, alt=artist.name, srcset="").rounded-full.w-32.h-32.mx-auto.my-4.border-blue-600.border-4.object-cover
            h2.text-2xl.flex-grow.mb-4= artist.name.toUpperCase()
            a.rounded.bg-white.text-blue-800.py-1.px-3(href=artist.url).mx-4= artist.site