a.anchor#guests
.grid.p-2.grid-cols-6.sm_grid-cols-6.md_grid-cols-8.lg_grid-cols-10.xl_grid-cols-10.bg-blue-500
  .col-span-6.col-start-1.sm_col-start-1.md_col-start-2.lg_col-start-3.xl_col-start-3.grid.grid-cols-1.md_grid-cols-2.lg_grid-cols-3.py-5.items-center.text-center.text-white.gap-4.items-stretch
    h1.col-span-3.text-4xl.mb-4 Special Guests
  .col-span-6.col-start-1.sm_col-start-1.md_col-start-2.lg_col-start-3.xl_col-start-3.flex.flex-wrap.justify-center.text-center
    for guest in content.guests
      .col-span-1.text-black.flex.flex-col.p-1(class="w-full md_w-1/2 lg_w-1/3")
        div.bg-white.rounded.p-4.h-full
          img(src=guest.img, alt=guest.name).rounded-full.w-32.h-32.mx-auto.my-4.border-blue-600.border-4.object-cover
          h2.text-2xl= guest.name
          small.italic= guest.type
          hr.border-2.my-2(class="w-1/2").mx-auto
          p.text-justified= guest.desc