.grid.bg-blue-200.p-2.grid-cols-6.sm_grid-cols-6.md_grid-cols-8.lg_grid-cols-10.xl_grid-cols-10(style="background-image: url('/images/EXeIPkyUwAAFayi.jpeg')").bg-no-repeat.bg-cover.bg-center.min-h-600.max-h-full
  .col-span-6.col-start-1.sm_col-start-1.md_col-start-2.lg_col-start-3.xl_col-start-3.grid.grid-cols-1.md_grid-cols-2.py-5.items-center
    .p-3.bg-white.bg-opacity-75.rounded-lg.text-blue-900.md_mr-4.text-center.lg_text-left
      h1.text-4xl.lg_text-5xl!= `You're <br>invited to<br>`
        strong SLPonyCon 2020!
      p.text-3xl Entry is Free!
    .p-3.bg-white.bg-opacity-75.rounded-lg.text-blue-900.md_ml-5.text-center.lg_text-right.mt-4.lg_mt-0
      p.text-2xl Join us for the month of June in Second Life for 30 days of arts, music, virtual goods and amusements!
      button.bg-blue-500.hover_bg-blue-700.text-white.font-bold.py-2.px-4.rounded.text-2xl.mt-3(onclick="modalOpen()") Get Your Pass

.fixed.p-5.top-0.w-screen.h-screen.flex.justify-center.content-center.flex-col.bg-black.bg-opacity-75.overflow-y-scroll#joinmodal.hidden
  .p-4.bg-blue-100.self-center.w-full(class="lg_w-3/4 xl_w-1/2").relative
    a.absolute.top-0.right-0.px-3.text-3xl(href="#", onclick="modalClose()") ×
    h2.text-3xl.text-center How to Join
    ol.mb-4
      li
        p.text-2xl 1. Create a Second Life Account
        p Get a free Second Life account from here: 
          a(href="https://join.secondlife.com/?lang=en-US", nofollow, noreferrer, target="_blank").text-blue-600.underline "Welcome | Join Second Life"
        p Choose an appropriate username. Like a Discord tag, this is your ID. You can change your Display name later.
        p Fill out the entire form, and pick any avatar. You can change this later, too.
        p Select the account type you want. A Basic account is all you need to attend the convention!
        p Once this is done, do not download the Official Second Life viewer. 
      li
        p.text-2xl 2. Install the Firestorm Second Life Viewer
        p You can get the Firestorm viewer from here: 
          a(href="https://www.firestormviewer.org/os/", nofollow, noreferrer, target="_blank").text-blue-600.underline Firestorm Viewer
        p You can select the 64-bit viewer, unless you know your PC is 32-bit.
        p Install the Viewer with all the defaults.
      li
        p.text-2xl 3. Log Into the Client
        p Open Firestorm. Use your new Second Life credentials to log in.
        p Accept the Terms of Service.
      li
        p.text-2xl 4. Complete the New User Tutorial
        p This tutorial gives you an overview on how to use Second Life and the client.
      li
        p.text-2xl 5. Teleport to the Convention!
        p That's the hard parts done! You can now click the link below to get to the convention:
    if Number(new Date()) < 1590994800000
      button.bg-red-500.hover_bg-blue-700.text-white.font-bold.py-2.px-4.rounded.text-2xl.mt-3 Convention opens  
        span= moment(1590994800000).fromNow()
    else
      include hidden
  script.
    const modalClose = () => {
      document.getElementById("joinmodal").classList.add("hidden")
    }
    const modalOpen = () => {
      document.getElementById("joinmodal").classList.remove("hidden")
    }
    document.getElementById("joinmodal").addEventListener("click", e => {
      if(e.target.id !== 'joinmodal') {
        return;
      }
      modalClose();
    })