doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/article.css')
    script(src="/javascripts/navigation.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js")
  body.bg-blue-100
    block content
