nav.grid.bg-blue-600.p-2.grid-cols-6.sm_grid-cols-6.md_grid-cols-8.lg_grid-cols-10.xl_grid-cols-10.sticky.top-0
  .col-span-6.flex.col-start-1.sm_col-start-1.md_col-start-2.lg_col-start-3.xl_col-start-3.items-center.justify-between.flex-wrap
    .flex.items-center.flex-shrink-0.text-white.mr-6
      a(href="#top")
        img(src="https://res.cloudinary.com/stormdragon-designs/image/upload/s--mHr8OWfF--/c_scale,h_60,q_auto:best/v1590326506/slponycon/slponycon-full.png").my-0
    .block(class="lg_hidden")
      button.flex.items-center.px-3.py-2.border.rounded.text-blue-100.border-blue-300.hover_text-white.hover_border-white(onclick="togglemenu()")
        svg(viewBox="0 0 20 20", xmlns="http://www.w3.org/2000/svg").fill-current.h-3.w-3
          title Menu
          path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
    .w-full.block.flex-grow.lg-flex.lg_items-center.lg_w-auto.hidden.lg_flex.justify-center.lg_items-left#navitems.h-0.duration-500.transform
      .text-sm.lg_flex-grow.text-center.lg_text-left
        a(href="#about").block.mt-4.lg_inline-block.lg_mt-0.hover_text-white.text-blue-100.mr-4 About
        a(href="#guests").block.mt-4.lg_inline-block.lg_mt-0.hover_text-white.text-blue-100.mr-4 Special Guests
        a(href="/vendors").block.mt-4.lg_inline-block.lg_mt-0.hover_text-white.text-blue-100.mr-4 Vendors and Artists
        a(href="#sponsors").block.mt-4.lg_inline-block.lg_mt-0.hover_text-white.text-blue-100.mr-4 Sponsors
        a(href="/livestream#schedule").block.mt-4.lg_inline-block.lg_mt-0.hover_text-white.text-blue-100.mr-4 Schedule
        a(href="/livestream").block.mt-4.lg_inline-block.lg_mt-0.hover_text-white.text-blue-100.mr-4.font-bold Livestream
      div.flex.justify-center.items-center.my-4.lg_my-0
        a(href="https://discord.gg/eHtGevE", nofollow, noreferrer, target="_blank").inline-block.text-sm.leading-none.text-white.hover_border-transparent.hover_text-teal-500.hover_bg-blue-400 
          img(src="/images/Discord-Logo-White.png", style="height: 40px", alt="Join Our Discord")
        a(href="https://twitter.com/SLPonyCon", nofollow, noreferrer, target="_blank").inline-block.text-sm.leading-none.text-white.hover_border-transparent.hover_text-teal-500.hover_bg-blue-400
          img(src="/images/Twitter_Logo_WhiteOnImage.png", style="height: 40px", alt="Follow Us On Twitter")
