a.anchor#news
#app
  .grid.p-2.grid-cols-6.sm_grid-cols-6.md_grid-cols-8.lg_grid-cols-10.xl_grid-cols-10
    .col-span-6.col-start-1.sm_col-start-1.md_col-start-2.lg_col-start-3.xl_col-start-3.grid.grid-cols-1.md_grid-cols-1.py-5.items-center.text-center
      h1.text-4xl Latest News
    .col-span-6.col-start-1.sm_col-start-1.md_col-start-2.lg_col-start-3.xl_col-start-3.flex.flex-wrap.justify-center.text-center  
      .col-span-1.text-black.flex.flex-col.p-1(class="w-full md_w-1/2 lg_w-1/3", v-for="tweet in tweets", :key="tweet.id")
        div.bg-blue-500.rounded.p-4.h-full.flex.flex-col.justify-between.text-white
          div.text-1xl.mb-4 {{ tweet.created.toDateString() }} at {{ tweet.created.toLocaleTimeString() }}
          div.text-2xl(v-html="tweet.text")
          div(v-if="tweet.url").my-5
            a(v-bind:href="tweet.url", nofollow, noreferrer, target="_blank").rounded.py-2.px-4.bg-white.text-blue-600 Read More
    .col-span-6.col-start-1.sm_col-start-1.md_col-start-2.lg_col-start-3.xl_col-start-3.grid.grid-cols-1.md_grid-cols-1.py-5.items-center.text-center
      p.text-2xl.italic More on our  
        a(href="https://twitter.com/SLPonyCon", nofollow, noreferrer, target="_blank").underline.text-blue-600 Twitter ⮕
    script.
      var app = new Vue({
        el: '#app',
        data: {
          tweets: null
        },
        created: function() {
          this.fetchData();
        },
        methods: {
          fetchData: function() {
            var xhr = new XMLHttpRequest();
            var self = this;
            xhr.open("GET", "/api/tweets");
            xhr.onload = function() {

              tweets = JSON.parse(xhr.responseText)[0];

              console.log(tweets)

              self.tweets = tweets.map(el => {
                return {created: new Date(el.created_at), text: el.text.split('https://t.co/')[0], id: el.id, truncated: el.truncated, url: el.entities.urls[0] ? el.entities.urls[0].url : 'https://twitter.com/i/web/status/' + el.id_str }
              })

            };
            xhr.send();
          }
        }
      })