a.anchor#schedule
#events
  .grid.p-2.grid-cols-6.sm_grid-cols-6.md_grid-cols-8.lg_grid-cols-10.xl_grid-cols-10
    .col-span-6.col-start-1.sm_col-start-1.md_col-start-2.lg_col-start-3.xl_col-start-3.grid.grid-cols-1.md_grid-cols-1.lg_grid-cols-1.py-5.items-center.text-center.gap-4.items-stretch
      .h1.text-4xl Schedule
      p.text-2xl.bold.italic Times shown in YOUR TIMEZONE: {{ (/\((.*)\)/.exec(new Date().toString())[1]) }}
  .grid.p-2.grid-cols-6.sm_grid-cols-6.md_grid-cols-8.lg_grid-cols-10.xl_grid-cols-10
    .col-span-6.col-start-1.sm_col-start-1.md_col-start-2.lg_col-start-3.xl_col-start-3.grid.grid-cols-1
        .bg-white.rounded.p-2.text-black(v-for="(event, id) in events")
          h1.text-2xl(v-if="id == 0").mb-2 {{event.start.toDateString()}}
          div(v-if="id != 0")
            h1.text-2xl(v-if="event.start.toDateString() != events[id - 1].start.toDateString()").mb-2 {{event.start.toDateString()}}
            p.ml-4 {{event.start.toLocaleTimeString()}} -  
              span.font-bold {{event.name}}
          div(v-else)
            //- h1.text-2xl {{event.start.toDateString()}}
            p.ml-4 {{event.start.toLocaleTimeString()}} -  
              span.font-bold {{event.name}}
  script.

    var app = new Vue({
      el: '#events',
      data: {
        events: null
      },
      created: function() {
        this.fetchData();
      },
      methods: {
        fetchData: function() {
          var xhr = new XMLHttpRequest();
          var self = this;
          xhr.open("GET", "/api/events");
          xhr.onload = function() {
            
            events = JSON.parse(xhr.responseText);

            self.events = events.map(el => {
              return {start: new Date(el.start), name: el.name}
            })

          };
          xhr.send();
        }
      }
    })