a.anchor#sponsors
if content.sponsors
  .grid.p-2.grid-cols-6.sm_grid-cols-6.md_grid-cols-8.lg_grid-cols-10.xl_grid-cols-10
    .col-span-6.col-start-1.sm_col-start-1.md_col-start-2.lg_col-start-3.xl_col-start-3.grid.grid-cols-1.md_grid-cols-2.lg_grid-cols-3.py-5.items-center.text-center.gap-4.items-stretch
      h1.col-span-3.text-4xl.mb-4 Sponsors
    .col-span-6.col-start-1.sm_col-start-1.md_col-start-2.lg_col-start-3.xl_col-start-3.flex.flex-wrap.justify-center.text-center
      - content.sponsors ? content.sponsors.sort(function(a, b) {var textA = a.name.toUpperCase();var textB = b.name.toUpperCase();return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;}) : null;
      for sponsor in content.sponsors
        .col-span-1.text-black.flex.flex-col.p-1(class="w-full md_w-1/2 lg_w-1/3")
          div.bg-blue-500.rounded.p-4.h-full.flex.flex-col.justify-between.text-white
            div
              img(src=sponsor.img, alt=sponsor.name, srcset="").w-full.h-32.mx-auto.my-4.object-contain
              h2.text-2xl.flex-grow.mb-4= sponsor.name.toUpperCase()
            div.my-4
              if sponsor.url
                a.rounded-full.py-2.px-4.bg-blue-100.text-black(href=sponsor.url,noreferrer,nofollow,target="_blank") Visit Website
.grid.p-2.grid-cols-6.sm_grid-cols-6.md_grid-cols-8.lg_grid-cols-10.xl_grid-cols-10
  .col-span-6.col-start-1.sm_col-start-1.md_col-start-2.lg_col-start-3.xl_col-start-3.grid.grid-cols-1.md_grid-cols-2.lg_grid-cols-3.py-5.items-center.text-center.gap-4
    if content.backers
      h1.col-span-3.text-3xl.mb-2 Backers
  .col-span-6.col-start-1.sm_col-start-1.md_col-start-2.lg_col-start-3.xl_col-start-3.grid.grid-cols-1.md_grid-cols-2.lg_grid-cols-3.py-5.items-center.text-center.gap-4
    for backer in content.backers
      .rounded-full.py-2.px-4.bg-blue-500.text-white= backer
