extends layout

block content
  include navinothome
  .grid.p-2.grid-cols-6.sm_grid-cols-6.md_grid-cols-8.lg_grid-cols-10.xl_grid-cols-10.bg-blue-800
    .col-span-6.col-start-1.sm_col-start-1.md_col-start-2.lg_col-start-3.xl_col-start-3.grid.grid-cols-1.md_grid-cols-1.lg_grid-cols-1.py-5.items-center.text-center.gap-4.items-stretch.pb-4
      .h1.text-4xl.text-white Livestream
      #twitch-embed.items-center.flex.my-4.bg-blue-300(style="min-height: 500px")
      script(src="https://embed.twitch.tv/embed/v1.js")
      script.
        new Twitch.Embed("twitch-embed", {
          width: "100%",
          height: "500px",
          channel: "slponycon",
        });
  include schedule
